/* Company Selector Styles */
.company-selector {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 184px;
    height: 45px;
}

.company-selector .toggle-wrapper {
    display: flex;
    align-items: center;
}

.company-selector .toggle-button {
    display: flex;
    border-radius: 6px;
    background-color: white;
    width: 32px;
    aspect-ratio: 1;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 3px;
    border: solid 1px #e2e2e2;
    cursor: pointer;
}

.company-selector .toggle-button img {
    width: 20px;
}

.company-selector .dropdown-mask {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.05);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.company-selector .dropdown-content.show + .dropdown-mask {
    display: block;
}

.company-selector .dropdown-content {
    display: none;
    background-color: #fff;
    min-width: 150px;
}

.company-selector .dropdown-content.show {
    display: block;
    position: absolute;
    left: -9px;
    top: -9px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 8px;
    border-radius: 8px;
    border: solid 1px #ccc;
}

.company-selector .logo-wrapper {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    border-radius: 6px;
    color: #456;
    background-color: #eee;
    min-height: 50px;
    transition: border-color 150ms, background 350ms, box-shadow 750ms;
}

.company-selector #currentCompanyDisplay {
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    border-radius: 6px;
    color: #123;
    background-color: #fff;
    min-height: 50px;
}

.company-selector .dropdown-content.show .logo-wrapper.active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    color: #123;
    background-color: #fff;
}

.company-selector .dropdown-content .logo-wrapper:not(.active):hover {
    background-color: #fcfcfc;
    border-color: #ddd;
}

.company-selector .dropdown-content.show .logo-wrapper {
    cursor: pointer;
}

.company-selector .company-logo {
    height: 45px;
}

.company-selector .company-name {
    flex: 1;
    display: flex;
    font-size: .875rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    min-height: 35px;
    padding: 5px;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .company-selector {
        min-width: 150px;
    }
    
    .company-selector .company-logo {
        height: 35px;
    }
    
    .company-selector .company-name {
        font-size: .75rem;
    }
} 