<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RAE/error</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- 404 Error Text -->
                    <div class="text-center mt-5">
                        <div class="error mx-auto" data-text="Error" th:text="${status} ?: 'Error'">Error</div>
                        <p class="lead text-gray-800 mb-4" th:text="${error} ?: 'Something went wrong'">Something went wrong</p>
                        <p class="text-gray-500 mb-0" th:text="${message} ?: 'It seems we encountered an unexpected issue'">It seems we encountered an unexpected issue</p>

                        <!-- Display detailed error message if available -->
                        <div th:if="${exception}" class="mt-3 mb-3 p-3 border border-danger rounded text-left">
                            <h6 class="font-weight-bold">Error Details:</h6>
                            <div class="mb-2">
                                <strong>Type:</strong> <span class="text-danger" th:text="${exception.class.name}">Exception type</span>
                            </div>
                            <div class="mb-2">
                                <strong>Message:</strong> <span class="text-danger" th:text="${exception.message}">Exception message</span>
                            </div>
                            <div>
                                <strong>Stack Trace:</strong>
                                <pre class="text-danger small mt-2" style="max-height: 300px; overflow-y: auto;">
<th:block th:each="stackTraceElement : ${exception.stackTrace}">    <th:block th:text="${stackTraceElement}">Stack trace element</th:block>
</th:block></pre>
                            </div>
                        </div>

                        <a href="/">&larr; Back to Dashboard</a>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; RevEng Project 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>
